/* src/pages/Main/components/NavBar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .nav-links a, .nav-links button {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .nav-links a:hover, .nav-links button:hover {
    text-decoration: underline;
  }
  
  .logo {
    height: 50px; /* Adjust as needed */
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .search-container input {
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .search-container select {
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: 10px;
  }
  
  .search-container button {
    border: none;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #555;
  }
  