.filter-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.filter-buttons .filter-button {
    background-color: var(--color-primary-500);
    border: none;
    border-radius: 5px;
    color: var(--color-neutral-white);
    cursor: pointer;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.filter-buttons .filter-button.selected {
    font-weight: bold;
    background-color: var(--color-primary-700);
}

.filter-buttons .filter-button:hover {
    background-color: var(--color-primary-700);
}

.news-content {
    background-color: var(--color-neutral-100);
    flex: 1;
    padding: 20px 32px;
    padding-bottom: 64px;
    text-align: left;
    width: 100%;
}

.news-header {
    background-color: var(--color-neutral-100);
    padding: 120px 0;
    text-align: center;
}

.news-page {
    background-color: var(--color-neutral-100);
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.news-subtitle {
    color: var(--color-neutral-800);
    font-size: 1.6rem;
    margin: 10px 0;
}

.news-title {
    color: var(--color-neutral-800);
    font-size: 3rem;
    margin: 0;
}

.news-scrollable-section {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

.news-section-title {
    color: var(--color-neutral-800);
    font-size: 2rem;
    margin: 20px 0;
    text-align: left;
}

@media (max-width: 768px) {
    .news-scrollable-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .news-scrollable-section {
        grid-template-columns: 1fr;
    }
}
