/* src/pages/Main/MainPage.css */
.main-page {
  font-family: 'Arial', sans-serif;
  background-color: #312f60;
  min-height: 100vh;
  padding-top: 20px; /* Add some padding at the top */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #312f60; /* White background for the container */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h2 {
  font-size: 2rem;
  color: #1ca9ad;
  text-align: center;
  margin-bottom: 20px;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.search-result-item {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 250px;
  text-align: center; /* Center-align text */
}

.search-result-item:hover {
  transform: scale(1.05);
}

.search-result-item img {
  width: 100%;
  height: auto;
  display: block;
}

.search-result-item h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.search-result-item p {
  font-size: 0.9rem;
  margin: 10px;
  color: #555;
}

/* FilmList Styles */
.film-list {
  margin: 2rem auto;
  max-width: 1000px;
  padding: 1rem;
}

.film-list .title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.film-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}

.movie-item {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center; /* Center-align text */
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movie-item span {
  display: block;
  font-size: 1rem;
  color: #000;
  margin-top: 10px; /* Space between the image and text */
}

 /* center */


recent-posts {
  display: flex;

  gap: 20px auto;

} 

.recent-post-item {
  background: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 250px;
  text-align: center; /* Center-align text */
}



/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .film-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .search-container {
    width: 100%;
    margin-top: 1rem;
  }
}
