/* MainPage.css */
.main-page {
  font-family: 'Arial', sans-serif;
  background-color: #312f60; /* Light grey background for the whole page */
}

/* Basic reset for padding and margin */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility classes for layout */
.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

/* Search bar styling */
.search-bar {
  /* Add your search bar styling */
}


/* FilmList Styles */
.film-list {
  /* should be in the center */
  margin: 2rem auto;
  max-width: 1000px;
  padding: 1rem;
}

.film-list .title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.film-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
}

.movie-item {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.movie-item span {
  margin-top: 5px; /* Space between the image and text */
  display: block;
  font-size: 1rem;
  color: #000000;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .film-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .search-bar {
    width: 100%;
    margin-top: 1rem;
  }
}

/* NavBar Styles */
/* NavBar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 20px;
}

.nav-links a, .nav-links button {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.search-container {
  position: relative;
}

.search-results {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: 300px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-result-item:hover {
  background-color: #f8f8f8;
}

/* RecentPosts Styles */
.recent-posts {
  max-width: 1000px;
  background: #312f60;
  border-radius: 8px;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.recent-post-item {
  /* display: flex; */
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #222; /* A light bottom border for separation */
  padding-bottom: 1rem;
  color: white
}

.recent-post-item:last-child {
  border-bottom: none;
}

.recent-post-item img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  margin-right: 1rem;
}

.recent-post-item .content {
  flex-grow: 1;
}

.recent-post-item .rating {
  /* Styling for the rating, possibly stars */

}

/* styles/global.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; 
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

.header {
  background-color: #20232a; 
  color: white;
  padding: 20px 0;
  text-align: center;
}

.movie-poster {
  width: 100px; 
  height: auto;
  border-radius: 8px;
  margin-right: 15px;
}

.movie-list {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
}

.movie-item {
  min-width: 100px; 
  margin-right: 15px; 
}

.clearfix {
  clear: both;
}


.search-results {
  position: absolute;
  width: 100%;
  background: white;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
  z-index: 1000;
}

.search-result-item {
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
}

.search-result-item:last-child {
  border-bottom: none;
}
