* {
  box-sizing: border-box;
}

.auth-button {
  background-color: var(--color-primary-500);
  border: none;
  border-radius: 5px;
  color: var(--color-neutral-white);
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: var(--color-primary-700);
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-section {
  align-items: center;
  display: flex;
}

.bull-bear-icon {
  height: auto;
  margin-right: 10px;
  width: 48px;
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

.custom-button {
  background-color: var(--color-primary-500);
  border: none;
  border-radius: 5px;
  color: var(--color-neutral-white);
  cursor: pointer;
  font-weight: bold;
  margin-left: 15px;
  padding: 10px 15px;
  text-align: center;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: var(--color-primary-700);
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links a {
  border-radius: 5px;
  color: var(--color-neutral-white);
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: var(--color-primary-500);
}

.nav-links li {
  margin: 0 15px;
}

.navbar {
  align-items: center;
  background: var(--primary-gradient);
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-brand-text {
  color: var(--color-neutral-white);
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-left {
  align-items: center;
  display: flex;
}

.navbar-left .icon-bull {
  color: var(--color-neutral-white);
  font-size: 2rem;
  margin-right: 10px;
}

.user-icon {
  color: var(--color-neutral-white);
  font-size: 2rem;
  margin-right: 10px;
}

.user-name {
  color: var(--color-neutral-white);
  font-size: 1rem;
  font-weight: bold;
}

.user-profile {
  align-items: center;
  cursor: pointer;
  display: flex;
}
