html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-side {
  flex: 1;
  background-color: var(--color-primary-900);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  text-align: center;
}

.app-logo {
  width: 400px;
}

.app-name {
  font-size: 48px;
  color: #f9f9f9;
  margin-top: 20px;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.login-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group label {
  margin-bottom: 8px;
  font-size: 18px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.sign-in-button {
  padding: 12px;
  background-color: var(--color-primary-900);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: #00004d;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.links a {
  color: #333;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
