.markets-container {
  zoom: inherit;
  scale: inherit;
  position: absolute;
  top: 70px;
  padding-top: 5rem;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: #333;
}


.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #444;
}

.indices, .stocks, .biggest-companies {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.index-item, .stock-item, .company-item {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  width: 200px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.index-item:hover, .stock-item:hover, .company-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #222;
  text-align: center;
}
