/* Styles for MarketsPage */

.markets-container {
  padding: 20px;
  position: absolute;
  top: 30px;
  left: 0;
}

/* Flexbox for side-by-side layout */
.indices {
  display: flex;
  gap: 20px; /* Space between index items */
  flex-wrap: wrap; /* Allow wrapping to next row if necessary */
}

/* Index item styles */
.index-item {
  cursor: pointer;
  padding: 20px;
  border: 2px solid black;
  width: 150px;
  text-align: center;
  border-radius: 8px;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition for hover effect */
}

/* Hover effect to highlight */
.index-item:hover {
  background-color: #007bff; /* Highlight color on hover */
  color: white; /* Change text color to contrast the background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for hover effect */
}
