.markets-container {
  padding: 20px;
  position: absolute;
  top: 30px;
  left: 0;
}

.indices {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.index-item {
  cursor: pointer;
  padding: 20px;
  border: 2px solid var(--color-neutral-700); /* Neutral adaptable border color */
  width: 150px;
  text-align: center;
  border-radius: 8px;
  background-color: var(--color-neutral-100); /* Neutral background color adaptable for both themes */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.index-item:hover {
  background-color: var(--color-primary-500); /* Adaptable hover background color */
  color: var(--color-neutral-100); /* Adaptable hover text color */
  box-shadow: 0 4px 8px var(--shadow-medium); /* Adaptable shadow */
}
