.portfolio-page {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1;
    background-color: var(--color-neutral-white);
    overflow-y: auto;
    padding: 20px;
}

.portfolio-section {
    flex: 1;
    width: 100%;
    padding: 20px 32px;
    background-color: var(--color-neutral-white);
}

.portfolio-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.portfolio-tab {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid var(--color-neutral-300);
    border-radius: 5px;
    background-color: var(--color-neutral-white);
    transition: background-color 0.3s ease;
}

.portfolio-tab.selected {
    background-color: var(--color-primary-100);
    color: var(--color-primary-900);
}

.create-portfolio-button {
    padding: 10px 15px;
    background-color: var(--color-secondary-500);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-portfolio-button:hover {
    background-color: var(--color-secondary-700);
}

.empty-portfolio {
    text-align: center;
    margin-top: 50px;
}

.portfolio-content {
    background-color: var(--color-neutral-white);
    border-radius: 8px;
    box-shadow: var(--shadow-md);
}

.empty-assets {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.empty-assets button {
    padding: 10px 15px;
    background-color: var(--color-secondary-500);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.empty-assets button:hover {
    background-color: var(--color-secondary-700);
}

.section-title {
    font-size: 2rem;
    margin: 20px 0;
    text-align: left;
    color: var(--color-primary-800);
}

.asset-list {
    margin-top: 20px;
}

.asset-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-neutral-300);
    padding: 10px 0;
}

.asset-row:last-child {
    border-bottom: none;
}

.asset-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.asset-name {
    font-weight: bold;
    color: var(--color-primary-900);
}

.asset-price {
    color: var(--color-neutral-700);
}

.asset-buttons {
    display: flex;
    gap: 10px;
}

.asset-button {
    padding: 5px 10px;
    background-color: var(--color-secondary-500);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.asset-button:hover {
    background-color: var(--color-secondary-700);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--color-neutral-white);
    border-radius: 8px;
    box-shadow: var(--shadow-lg);
    padding: 20px;
    width: 400px;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--color-primary-900);
}

.modal-input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-neutral-300);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-submit-button,
.modal-cancel-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-submit-button {
    background-color: var(--color-secondary-500);
    color: white;
}

.modal-submit-button:hover {
    background-color: var(--color-secondary-700);
}

.modal-cancel-button {
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-800);
}

.modal-cancel-button:hover {
    background-color: var(--color-neutral-300);
}

.asset-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: var(--shadow-md);
}

.asset-table th,
.asset-table td {
    border: 1px solid var(--color-neutral-300);
    padding: 12px;
    text-align: center;
}

.asset-table th {
    background-color: var(--color-primary-500);
    color: white;
    font-weight: bold;
}

.asset-table tr:nth-child(even) {
    background-color: var(--color-neutral-100);
}

.asset-input {
    width: 90%;
    padding: 8px;
    border: 1px solid var(--color-neutral-300);
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.asset-save-button,
.asset-edit-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.asset-save-button {
    background-color: var(--color-secondary-500);
    color: white;
}

.asset-save-button:hover {
    background-color: var(--color-secondary-700);
}

.asset-edit-button {
    background-color: var(--color-neutral-200);
    color: var(--color-neutral-800);
}

.asset-edit-button:hover {
    background-color: var(--color-neutral-300);
}

.add-assets-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: var(--color-primary-500);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-assets-button:hover {
    background-color: var(--color-primary-700);
}

.search-results {
    border: 1px solid var(--color-neutral-300);
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
    background-color: var(--color-neutral-white);
    z-index: 10;
    position: relative;
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-result-item:hover {
    background-color: var(--color-neutral-200);
}

.asset-list-container {
    width: 100%; 
    margin: 0 auto;
    margin-right: 48px; 
}

.profit {
    background-color: var(--color-success);
}

.loss {
    background-color: var(--color-danger);
}

.asset-edit-button,
.asset-delete-button,
.asset-save-button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.pagination-controls button {
    padding: 5px 10px;
    cursor: pointer;
}

.card {
    border: 1px solid var(--color-neutral-300);
    border-radius: 8px;
    background-color: var(--color-neutral-white);
    box-shadow: var(--shadow-md);
    transition: background-color 0.3s ease;
    padding: 20px;
}

.portfolio-layout {
    display: flex;
    width: 100%;
}

.asset-list-card {
    padding: 20px;
    margin-bottom: 20px;
}

.portfolio-details {
    width: 50%; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow-md);
}

.portfolio-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.portfolio-details-card {
    background-color: var(--color-neutral-white);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--shadow-md);
}

.detail-item {
    flex: 1; 
    justify-content: flex-start; 
    display: flex; 
    align-items: center; 
}

.detail-value {
    margin-left: 10px;
    font-weight: bold;
    text-align: right; 
    flex: 1; 
}

.profit {
    background-color: var(--color-success-300);
    padding: 5px; 
    border-radius: 4px; 
}

.loss {
    background-color: var(--color-error-300);
    padding: 5px; 
    border-radius: 4px; 
}

.green {
    background-color: var(--color-success-300);
}
.red {
    background-color: var(--color-error-300);
}

.detail-icon {
    margin: 0 5px
}