.comments-box {
    color: var(--color-primary-500);
    display: flex;
    font-weight: bold;
}

.like-icon:hover, .comment-icon:hover {
    transform: scale(1.2);
}

.likes {
    align-items: center;
    color: var(--color-error-500);
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.likes .like-icon, .comments-box .comment-icon {
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.post-card {
    background-color: var(--color-neutral-100);
    border: 1px solid var(--border-light);
    border-radius: 8px;
    box-shadow: var(--shadow-light);
    color: var(--color-neutral-600);
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 100px 20px;
    text-align: left;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.post-card:hover {
    background-color: var(--color-neutral-300);
    transform: translateY(-5px);
}

.post-header h2 {
    color: var(--color-neutral-800);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.post-meta {
    color: var(--color-neutral-800);
    font-size: 0.9rem;
}

.post-stats {
    align-items: center;
    display: flex;
    gap: 20px;
}

.post-tag {
    background-color: var(--color-primary-500);
    border-radius: 20px;
    color: var(--color-neutral-white);
    font-size: 0.8rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.view-button {
    background-color: var(--color-primary-500);
    border: none;
    border-radius: 5px;
    color: var(--color-neutral-white);
    cursor: pointer;
    font-size: 0.9rem;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: var(--color-primary-700);
}
