.post-card {
    background-color: var(--color-neutral-100); /* Neutral card background adaptable for both themes */
    border-radius: 10px;
    box-shadow: 0 8px 16px var(--shadow-light); /* Light shadow */
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px var(--shadow-medium); /* Hover shadow */
}

.post-header h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color-neutral-900); /* Header text color adaptable for both themes */
}

.post-meta {
    font-size: 0.9rem;
    color: var(--color-neutral-700); /* Meta text color adaptable for both themes */
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.post-stats {
    display: flex;
    align-items: center;
    gap: 20px;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--color-error-500); /* Likes color */
}

.comments-box {
    display: flex;
    font-weight: bold;
    color: var(--color-info-500); /* Comments color */
}

.likes .like-icon, .comments-box .comment-icon {
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.like-icon:hover, .comment-icon:hover {
    transform: scale(1.2);
}

.view-button {
    background-color: var(--color-info-500); /* Button background adaptable for both themes */
    color: var(--color-neutral-100); /* Button text color, more neutral */
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    background-color: var(--color-info-700); /* Button hover background */
}

.post-tags {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.post-tag {
    color: var(--color-neutral-100); /* Tag text color adaptable for both themes */
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    background-color: var(--color-accent-500); /* Tag background color */
    transition: background-color 0.3s ease;
}

@media (min-width: 600px) {
    .post-card {
        max-width: 500px;
    }
}

@media (min-width: 900px) {
    .post-card {
        max-width: 600px;
    }
}
