.forgotPassword-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #312f60; 
  }
  
  .forgotPassword-form {
    background-color: #8899f9;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .forgotPassword-form input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 20px;

  }
  
  .forgotPassword-input-item {
    color: #000000;
    background-color: #c4a6dd; 
  }
  
  .forgotPassword-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c4a6dd;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .forgotPassword-header h1 {
    margin-bottom: 20px;
    color: white;
    font-size: 16px;
  }

  .logo {
    max-width: 150px; 
    height: auto; 
    border-radius: 20px;
  }
  
  .forgot-password-explanation{
    font-size: 6px;
  }
  