/* Existing reset for body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, span, div {
  color: inherit;
}

/* Light theme colors */
:root {
  /* Primary colors */
  --color-primary-100: #e3f2fd;
  --color-primary-300: #90caf9;
  --color-primary-500: #42a5f5;
  --color-primary-700: #1976d2;
  --color-primary-900: #0d47a1;

  /* Neutral colors | background */
  --color-neutral-100: #ffffff;
  --color-neutral-300: #d6d6d6;
  --color-neutral-500: #9e9e9e;
  --color-neutral-700: #616161;
  --color-neutral-900: #303030;

  /* Neutral colors | text */
  --color-neutral-200: #eaeaea;
  --color-neutral-400: #b8b8b8;
  --color-neutral-600: #7e7e7e;
  --color-neutral-800: #424242;
  
  /* Constants */
  --color-neutral-black: #212121;
  --color-neutral-white: #ffffff;

  /* Error colors */
  --color-error-300: #ef9a9a;
  --color-error-500: #f44336;
  --color-error-700: #d32f2f;
  --color-error-900: #b71c1c;

  /* Success colors */
  --color-success-300: #a5d6a7;
  --color-success-500: #4caf50;
  --color-success-700: #388e3c;
  --color-success-900: #1b5e20;
  
  /* Shadows */
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0, 0, 0, 0.3);
  --shadow-dark: rgba(0, 0, 0, 0.6);

  /* Borders */
  --border-light: #d6d6d6;
  --border-medium: #9e9e9e;
  --border-dark: #424242;

  /* Gradients */
  --primary-gradient: linear-gradient(45deg, #0d49a3, #1e88e5);
  --error-gradient: linear-gradient(45deg, #f44336, #d32f2f);
  --success-gradient: linear-gradient(45deg, #4caf50, #388e3c);
}

/* Dark theme colors */
body.dark-mode {

  background-color: var(--color-neutral-300); /* Dark background */
  color: var(--color-neutral-white); /* Text color for dark mode */

  /* Primary colors */
  --color-primary-100: #1a237e;
  --color-primary-300: #303f9f;
  --color-primary-500: #3f51b5;
  --color-primary-700: #7986cb;
  --color-primary-900: #1a237e;

  /* Neutral colors | background */
  --color-neutral-100: #121212;
  --color-neutral-300: #1e1e1e;
  --color-neutral-500: #2c2c2c;
  --color-neutral-700: #3d3d3d;
  --color-neutral-900: #5a5a5a;

  /* Neutral colors | text */
  --color-neutral-200: #8b8b8b;
  --color-neutral-400: #a8a8a8;
  --color-neutral-600: #cccccc;
  --color-neutral-800: #e0e0e0;

  /* Constants */
  --color-neutral-black: #212121;
  --color-neutral-white: #ffffff;

  /* errror colors */
  --color-error-300: #f44336;
  --color-error-500: #d32f2f;
  --color-error-700: #b71c1c;
  --color-error-900: #a70510;

  /* Success colors */
  --color-success-300: #388e3c;
  --color-success-500: #1b5e20;
  --color-success-700: #054e10;
  --color-success-900: #013e01;


  /* Shadows */
  --shadow-light: rgba(255, 255, 255, 0.1);
  --shadow-medium: rgba(255, 255, 255, 0.3);
  --shadow-dark: rgba(255, 255, 255, 0.6);

  /* Borders */
  --border-light: #3a3a3a;
  --border-medium: #6e6e6e;
  --border-dark: #d0d0d0;

  /* Gradients */
  --primary-gradient: linear-gradient(45deg, #1a237e, #283593);
  --error-gradient: linear-gradient(45deg, #b71c1c, #d32f2f);
  --success-gradient: linear-gradient(45deg, #1b5e20, #388e3c);
}
