.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-cancel-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-800);
}

.modal-cancel-button:hover {
    background-color: var(--color-neutral-300);
}

.modal-content {
    background-color: var(--color-neutral-100);
    border-radius: 8px;
    box-shadow: var(--shadow-lg);
    padding: 20px;
    text-align: center;
    width: 400px;
}

.modal-content h2 {
    color: var(--color-primary-900);
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-input {
    color: var(--color-neutral-800);
    background-color: var(--color-neutral-100);
     border: 1px solid var(--border-light);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.modal-overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.modal-submit-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    background-color: var(--color-primary-500);
    color: var(--color-neutral-white);
}

.modal-submit-button:hover {
    background-color: var(--color-primary-700);
}

.search-result-item {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.search-result-item:hover {
    background-color: var(--color-neutral-100);
}

.search-results {
    background-color: var(--color-neutral-100);
     border: 1px solid var(--border-light);
    border-radius: 5px;
    margin-top: 5px;
    max-height: 150px;
    overflow-y: auto;
    position: relative;
    z-index: 10;
}